<template>
  <v-card
    color="#385F73"
    dark
    class="cardTrialVersion"
  >
    <v-card-title class="headline">Ups! Esta es una versión de prueba </v-card-title>
    <v-card-subtitle>
      Está funcionalidad no está disponible en esta versión. 
    </v-card-subtitle>
    <v-card-actions>
      <v-btn text>Sentimos las molestias</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
  export default {
    name: 'cardTrialVersion',
    props: [],
    data() {
      return {
        
      }
    },
    methods: {
      
    },

  }

</script>
