$mainColor: #425195;
$backgroundColor: #F3F5FA;

h1{
    color: $mainColor;
}

.v-navigation-drawer{
    background-image: url('/test.jpg');
    background-position: center !important;

    .v-list{
        a{
            margin-top: 7%;
            border-radius: 20px 20px 20px 20px;
            margin-left: 5%;
            margin-right: 8%;
            color: white;
        }

        a:hover{
            background-color: $mainColor;
        }

        .v-list-item--active{
            margin-top: 7%;
            border-radius: 20px 20px 20px 20px;
            margin-left: 5%;
            margin-right: 8%;
            background-color: $mainColor !important;
            
        }
    }

    .v-list-item__content{
        margin-top: 1% !important;
        font-weight: bold;
        
        .v-list-item__title{
            font-size: 0.85em !important;
        }
    }
}

.dasnboardContent{
    .v-main__wrap{
        background-color: $backgroundColor !important;
    }
}

.classicCardTask{
    height: 100% !important;
    padding: 3% !important;
    border-radius: 10px !important;

    .headerCard{
        padding-bottom: 3% !important;

        .statusTask{
            font-weight: bold;
            color: #2DC09D;
        }
        .v-btn{
            float: right;
            color: white !important;
            background-color: $mainColor !important;
            text-transform: capitalize !important;
            font-size: 14px !important;
        }
    }

    .v-card__text{
        border-top: 1.3px solid #CCCCCC !important;

        .avatarInCard{
            .nameAvatarInCard{
                font-weight: 500;
                color: #010C3B;
            }
    
            i{
                margin-left: 20%;
            }
            .remaningTime{
                color: #333D69;
            }
        }

        .taskContent{
            margin-top: 3%;
            border-left: 3.5px solid #2DC09D;
            padding-left: 3%;

            .titleTask{
                font-size: 17px;
                color: #333D69;
                font-weight: bold;
            }
            p{
                padding-top: 1.5%;
            }

            .menuOptionsTask{
                float: right !important;
            }
        }
    }
}

.cardNewTask{
    padding: 3%;

    .headline{
        color: $mainColor !important;
    }

    .v-btn{
        float: right;
        color: white !important;
        background-color: $mainColor !important;
        text-transform: capitalize !important;
        font-size: 14px !important;
    }
}

.v-toolbar{
    height: 10% !important;
}

.v-toolbar__content{
    .barHeader{
        margin-top: 3% !important;
    }

    .appTitle{
        font-weight: bold;
        font-size: 26px;
    }
}

.cardTrialVersion{
    margin-top: 40%;
}

