<template>
  <v-app dark>
    <v-navigation-drawer v-model="drawer" :mini-variant="miniVariant" :clipped="clipped" fixed app>
      <v-list>
        <v-list-item v-for="(item, i) in items" :key="i" :to="item.to" router exact>
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title v-text="item.title" />
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <!-- top bar -->
    <v-app-bar fixed app flat color="#fff">
      <v-app-bar-nav-icon class="barHeader" @click="drawer = !drawer" />
      <div class="barHeader">
        <span class="appTitle">To do list </span><br>
        <span class="ml-4" style="font-size:0.75em;" v-html="dateInSpanishFormat"></span>
      </div>
      <v-spacer></v-spacer>
      <v-menu offset-y class="dropdownListUserProfile" left>
        <template v-slot:activator="{ on }">
          <img src="/ic_user_profile.svg" v-on="on" class="mr-8">
        </template>
        <v-list>
          <v-list-item v-for="(item, index) in itemsProfileUser" :key="index"
            @click="mappingOptionProfileUser(item.option)">
            <img :src="item.icon" class="mr-4">
            <v-list-item-content>
              <v-list-item-title>{{ item.text }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-menu>
    </v-app-bar>
    <!-- end top bar -->
    <v-main class="dasnboardContent">
      <v-container>
        <nuxt />
      </v-container>
    </v-main>
    <v-navigation-drawer v-model="rightDrawer" :right="right" temporary fixed>
      <v-list>
        <v-list-item @click.native="right = !right">
          <v-list-item-action>
            <v-icon light>
              mdi-repeat
            </v-icon>
          </v-list-item-action>
          <v-list-item-title>Switch drawer (click me)</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-footer :absolute="!fixed" app>
      <span>{{ new Date().getFullYear() }} - Dimitri Avila Y. </span>
    </v-footer>
    <v-snackbar
      v-model="snackbar"
    >
      Función no disponible en esta versión de prueba.
      <template v-slot:action="{ attrs }">
        <v-btn
          color="pink"
          text
          v-bind="attrs"
          @click="snackbar = false"
        >
          Cerrar
        </v-btn>
      </template>
    </v-snackbar>
  </v-app>
</template>

<script>
  export default {
    data() {
      return {
        clipped: false,
        drawer: false,
        fixed: false,
        items: [{
            icon: 'mdi-chart-bubble',
            title: 'Todas las Tareas',
            to: '/'
          },
          {
            icon: 'mdi-chart-bubble',
            title: 'Tareas Cerradas',
            to: '/todayTasks'
          },
          {
            icon: 'mdi-chart-bubble',
            title: 'Eliminadas',
            to: '/removedTasks'
          }
        ],
        miniVariant: false,
        right: true,
        rightDrawer: false,
        title: 'To do list',
        itemsProfileUser: [{
            text: 'Editar Perfil',
            icon: 'persona.svg',
            option: 'notAvailableFunction'
          },
          {
            text: 'Cerrar Sesión',
            icon: '',
            option: 'notAvailableFunction'
          }
        ],
        dateInSpanishFormat: '',
        snackbar: false
      }
    },
    mounted() {
      this.buildCurrentDateInSpanish()
    },
    methods: {
      buildCurrentDateInSpanish(){
        let dateObject = new Date();
        let dayWeek = this.$dateManager.converDayWeekToString(dateObject.getDay()) 
        let month = this.$dateManager.converMonthToString(dateObject.getMonth())
        this.dateInSpanishFormat = `${dayWeek}, ${dateObject.getDate()} ${month}`
      },
      mappingOptionProfileUser(option) {
        switch (option) {
          case 'notAvailableFunction':
            this.snackbar = true
            break;
          case 'closeSession':
            
            break;
          default:
            return
            break;
        }
      }
    },
  }

</script>
