<template>
  <v-layout column>
    <v-flex xs12 sm8 md6>
      <v-row class="pl-8 pr-8 pt-8 pb-8">
        <v-col cols="12" sm="12" md="12" v-if="listTaskEmpty">
          <v-alert type="info">
            No hay tareas creadas en este momento.
          </v-alert>
        </v-col>
        <v-col cols="12" sm="4" md="4" v-for="task in taskList">
          <v-card class="classicCardTask">
            <div class="headerCard">
              <span class="statusTask">
                Activa
              </span>
              <v-btn small @click="snackbar = true">Agregar tiempo</v-btn>
            </div>
            <v-card-text>
              <div class="avatarInCard">
                <img src="/ic_user_profile.svg">
                <span class="nameAvatarInCard" v-html="task.content.responsible"></span>
                <v-icon>{{ icon }}</v-icon>
                <span class="remaningTime" v-html="task.content.time"></span>
              </div>
              <div class="taskContent">
                <span class="titleTask" v-html="task.content.title"></span>
                <v-menu offset-y right>
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn text v-bind="attrs" v-on="on" class="menuOptionsTask">
                      <v-icon>mdi-dots-vertical</v-icon>
                    </v-btn>
                  </template>
                  <v-list>
                    <v-list-item v-for="(item, index) in items" :key="index"
                      @click="mappingOptionTask(item.option, task.taskId)">
                      <v-icon color="#425195" v-html="item.icon"></v-icon>
                      <v-list-item-title class="pl-2" v-html="item.title"></v-list-item-title>
                    </v-list-item>
                  </v-list>
                </v-menu>
                <p v-html="task.content.content"></p>
              </div>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
      <v-tooltip top>
        <template v-slot:activator="{ on, attrs }">
          <v-btn absolute dark fab bottom right v-bind="attrs" v-on="on" color="#425195" class="buttonCreateTask"
            @click="openDialogCreateTask()">
            <v-icon>mdi-plus</v-icon>
          </v-btn>
        </template>
        <span>Crear nueva tarea</span>
      </v-tooltip>
      <!-- dialog to create new task -->
      <v-dialog v-model="dialogCreateTask" max-width="500">
        <v-card class="cardNewTask">
          <v-card-title class="headline">Nueva tarea</v-card-title>
          <v-card-text>
            <v-form ref="formCreateNewTask">
              <v-row>
                <v-col cols="12" sm="6" md="6">
                  <v-combobox v-model="responsibleTask" :items="itemsResponsibleTask" outlined label="Responsable"
                    :rules="[rules.required]"></v-combobox>
                </v-col>
                <v-col cols="12" sm="6" md="6">
                  <v-combobox v-model="timeRemaining" :items="itemsTimeRemaining" outlined label="Tiempo ejecución"
                    :rules="[rules.required]"></v-combobox>
                </v-col>
                <v-col cols="12" sm="12" md="12">
                  <v-text-field label="Título" outlined v-model="titleTask" :rules="[rules.required]"></v-text-field>
                </v-col>
                <v-col cols="12" sm="12" md="12">
                  <v-textarea outlined name="input-7-4" label="Descripción" v-model="contentTask"
                    :rules="[rules.required]"></v-textarea>
                </v-col>
                <v-col v-if="successCreateTask" cols="12" sm="12" md="12">
                  <v-alert type="success">
                    Tarea creada correctamente
                  </v-alert>
                </v-col>
              </v-row>
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn small @click="createTask">Crear Tarea </v-btn>
            <v-btn small @click="dialogCreateTask = false">Cancelar</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <!-- end dialog -->
      <!-- dialog show task details -->
      <div class="text-center">
        <v-dialog v-model="dialogShowTask" width="500">
          <v-card class="cardNewTask">
            <v-card-title class="headline">
              Detalles tarea
            </v-card-title>
            <v-card-text>
              <v-list-item two-line>
                <v-list-item-content>
                  <v-list-item-title>Responsable</v-list-item-title>
                  <v-list-item-subtitle v-html="responsibleTask"></v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
              <v-list-item two-line>
                <v-list-item-content>
                  <v-list-item-title>Tiempo</v-list-item-title>
                  <v-list-item-subtitle v-html="timeRemaining"></v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
              <v-list-item two-line>
                <v-list-item-content>
                  <v-list-item-title>Título</v-list-item-title>
                  <v-list-item-subtitle v-html="titleTask"></v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
              <v-list-item two-line>
                <v-list-item-content>
                  <v-list-item-title>Descripción</v-list-item-title>
                  <v-list-item-subtitle v-html="contentTask"></v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </v-card-text>
            <v-divider></v-divider>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn small @click="dialogShowTask = false">Cerrar</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </div>
      <!-- end dialog -->
      <v-snackbar
        v-model="snackbar"
      >
        Función no disponible en esta versión de prueba.
        <template v-slot:action="{ attrs }">
          <v-btn
            color="pink"
            text
            v-bind="attrs"
            @click="snackbar = false"
          >
            Cerrar
          </v-btn>
        </template>
      </v-snackbar>
    </v-flex>
  </v-layout>
</template>

<script>
  export default {
    components: {},
    data() {
      return {
        icon: 'access_time',
        iconDots: 'mdi-dots-vertical',
        items: [{
            icon: 'mdi-eye',
            title: 'Ver tarea',
            option: 'seeTask'
          },
          {
            icon: 'mdi-delete',
            title: 'Borrar',
            option: 'deleteTask'
          },
        ],
        dialogCreateTask: false,
        dialogShowTask: false,
        itemsResponsibleTask: [
          'Ana Rojas',
          'Dimitri Avila',
          'Roberto Clemente'
        ],
        itemsTimeRemaining: [
          '1 hr',
          '2 hrs',
          '5 hrs',
          '10 hrs',
          '12 hrs'
        ],
        successCreateTask: false,
        responsibleTask: '',
        timeRemaining: '',
        titleTask: '',
        contentTask: '',
        taskList: [],
        rules: {
          required: value => !!value || 'Campo requerido ',
          min: v => v.length >= 8 || 'La clave debe tener al menos 8 caracteres',
          isNumber: v => !isNaN(v) || 'Valor debe ser número'
        },
        listTaskEmpty: false,
        snackbar: false
      }
    },
    mounted() {
      this.drawAllTasks()
    },
    methods: {
      openDialogCreateTask() {
        this.cleanDataCurrentTask()
        this.dialogCreateTask = true
      },
      drawAllTasks() {
        this.taskList = JSON.parse(localStorage.getItem('containerNewTasks'))
        if (this.taskList !== null )
          this.listTaskEmpty = (this.taskList.length === 0)
        else 
          this.listTaskEmpty = true
        
      },
      createTask() {
        if (!this.$refs.formCreateNewTask.validate())
          return

        if (localStorage.getItem('containerNewTasks') !== null) {
          this.taskList = JSON.parse(localStorage.getItem('containerNewTasks'))
          this.taskList.push({
            taskId: parseInt(localStorage.getItem('taskCounter')) + 1,
            content: {
              responsible: this.responsibleTask,
              time: `Tiempo restante: ${this.timeRemaining}`,
              title: this.titleTask,
              content: this.contentTask
            }
          })
          localStorage.setItem('taskCounter', parseInt(localStorage.getItem('taskCounter')) + 1)
        } else {
          this.taskList = []
          this.taskList.push({
            taskId: 1,
            content: {
              responsible: this.responsibleTask,
              time: `Tiempo restante: ${this.timeRemaining}`,
              title: this.titleTask,
              content: this.contentTask
            }
          })
          localStorage.setItem('taskCounter', 1)
          console.log(this.taskList);
        }
        localStorage.setItem('containerNewTasks', JSON.stringify(this.taskList))
        this.drawAllTasks()
        this.successCreateTask = true
        setTimeout(() => {
          this.dialogCreateTask = false
        }, 1000);
      },
      cleanDataCurrentTask() {
        this.successCreateTask = false
        this.responsibleTask = ''
        this.timeRemaining = ''
        this.titleTask = ''
        this.contentTask = ''
      },
      deleteTask(taskId) {
        let indexToDelete = ''
        this.taskList.forEach((element, index) => {
          if (parseInt(element.taskId) === parseInt(taskId)) {
            indexToDelete = index
          }
        });
        if (indexToDelete !== '') {
          this.taskList.splice(indexToDelete, 1)
          localStorage.setItem('containerNewTasks', JSON.stringify(this.taskList))
        }
        this.drawAllTasks()
      },
      seeTask(taskId) {
        this.dialogShowTask = true
        this.taskList.forEach(element => {
          if (parseInt(element.taskId) === parseInt(taskId)) {
            this.titleTask = element.content.title
            this.responsibleTask = element.content.responsible
            this.timeRemaining = element.content.time
            this.contentTask = element.content.content
          }
        });
      },
      mappingOptionTask(option, taskId) {
        switch (option) {
          case 'seeTask':
            this.seeTask(parseInt(taskId))
            break;
          case 'deleteTask':
            this.deleteTask(parseInt(taskId))
            break;
          default:
            break;
        }
      }
    },

  }

</script>
