<template>
  <v-layout
    column
    justify-center
    align-center
  >
    <v-flex
      xs12
      sm8
      md6
    >
      <card-trial-version></card-trial-version>
    </v-flex>
  </v-layout>
</template>

<script>
import cardTrialVersion from '~/components/cardTrialVersion.vue'
export default {
  components: {
    cardTrialVersion
  },
  data() {
    return {
      
    }
  },

}
</script>
